<form class="form_op" id="crimeForm" style="margin-top: 3px;" method="POST" action="/add_court_crime">
    <table style="width: 100%; margin:4px 0px 4px 0px; box-shadow: none">
        <colgroup>
            <col style="width: 176px">
        </colgroup>
        <tbody>
            <tr class="disabled-row">
                <td style="border: none; width: 260px; text-align: left" data-help="solution_crime_part" data-role="helper" class="has-helper">📅 * {{ res_value('RECIEPT_DATE') }}:</td>
                <td style="border: none; text-align: left"><input class="input_d" style="font-size: 18px;" type="date" name="submission_date" required></td>
            </tr>
            <tr class="disabled-row">
                <td style="border: none; text-align: left" data-help="solution_civ_part" data-role="helper" class="has-helper">📆 {{ res_value('VERDICT_DATE') }}:</td>
                <td style="border: none; text-align: left"><input class="input_d" style="font-size: 18px;" type="date" name="verdict_date"></td>
            </tr>
            <tr class="disabled-row">
                <td style="border: none; text-align: left">📅 {{ res_value('EFFECTIVE_DATE') }}:</td>
                <td style="border: none; text-align: left"><input class="input_d" style="font-size: 18px;" type="date" name="effective_date"></td>
            </tr>


            <tr class="disabled-row">
                <td style="border: none; text-align: left" data-help="sum_civ_amount" data-role="helper" class="has-helper">{{ res_value('SUM_CIV_AMOUNT') }}:</td>
                <td style="border: none; text-align: left"><input style="font-size: 18px; width: 100px;" class="input_s_form" type="text" name="sum_civ_amount"></td>
            </tr>

            <tr class="disabled-row">
                <td style="border: none; text-align: left">{{ res_value('COMPENSATED_AMOUNT') }}:</td>
                <td style="border: none; text-align: left"><input style="font-size: 18px; width: 100px;" class="input_s_form" type="text" name="compensated_amount"></td>
            </tr>

            <tr class="disabled-row">
                <td style="border: none; text-align: left" data-help="solution_crime_part" data-role="helper" class="has-helper">{{ res_value('SOLUTION_CRIME_PART') }}:</td>
                <td style="border: none; text-align: left">
                    <div class="dropdown" data-role="menu">
                        <input type="hidden" name="solution_crime_part" id="menuValue">
                        <button type="button" class="dropdown-button" id="menuButton">
                        <i class="fas fa-bars"></i>
                        <span class="label">{{ res_value('SELECT_SOLUTION') }}</span>
                        </button>
                        <div class="dropdown-content">
                            <!-- data-value - отправляется через submit, data-lable - отображается -->
                            <a data-value="{{res_value('SOLUTION_GUILTY')}}" data-label="{{res_value('SOLUTION_GUILTY')}}"><i class="fas fa-home"></i>{{res_value('SOLUTION_GUILTY')}}</a>
                            <a data-value="{{res_value('SOLUTION_NO_GUILTY')}}" data-label="{{res_value('SOLUTION_NO_GUILTY')}}"><i class="fas fa-info-circle"></i>{{res_value('SOLUTION_NO_GUILTY')}}</a>
                        </div>
                    </div>

                </td>
            </tr>

            <tr class="disabled-row">
                <td style="border: none; text-align: left" data-help="solution_civ_part" data-role="helper" class="has-helper">{{ res_value('SOLUTION_CIV_PART') }}:</td>

                <td style="border: none; text-align: left">
                    <div class="dropdown" data-role="menu">
                        <input type="hidden" name="solution_civ_part" id="menuValue">
                        <button type="button" class="dropdown-button" id="menuButton">
                        <i class="fas fa-bars"></i>
                        <span class="label">{{ res_value('SELECT_SOLUTION') }}</span>
                        </button>
                        <div class="dropdown-content">
                            <!-- data-value - отправляется через submit, data-lable - отображается -->
                            <a data-value="{{res_value('SOLUTION_SATISFY')}}" data-label="{{res_value('SOLUTION_SATISFY')}}"><i class="fas fa-home"></i>{{res_value('SOLUTION_SATISFY')}}</a>
                            <a data-value="{{res_value('SOLUTION_SEPARATE')}}" data-label="{{res_value('SOLUTION_SEPARATE')}}"><i class="fas fa-info-circle"></i>{{res_value('SOLUTION_SEPARATE')}}</a>
                            <a data-value="{{res_value('SOLUTION_REFUSE')}}" data-label="{{res_value('SOLUTION_REFUSE')}}"><i class="fas fa-info-circle"></i>{{res_value('SOLUTION_REFUSE')}}</a>
                        </div>
                    </div>
                </td>
            </tr>

            <tr class="disabled-row">
                <td style="border: none; text-align: left">{{ res_value('COURT_NAME') }}:</td>
                <td style="border: none; text-align: left"><input style="width: 100%" class="input_s_form" type="text" name="court_name" required></td>
            </tr>

        </tbody>
    </table>

    <hr>
    <button type="submit">💾 {{ res_value('BUTTON_SAVE') }}</button>
</form>
