<form class="form_op" id="executionForm" style="margin-top: 3px;" method="POST" action="/add_execution">
    <table style="width: 960px; margin:4px 0px 4px 0px; box-shadow: none">
        <colgroup>
            <col style="width: 180px">
        </colgroup>
        <tbody>
            <tr class="disabled-row">
                <td style="border: none; text-align: left" data-help="transfer_date" data-role="helper" class="has-helper">📅 * {{ res_value('EXECUTION_TRANSFER_DATE') }}:</td>
                <td style="border: none; text-align: left"><input class="input_d" style="font-size: 18px;" type="date" name="transfer_date" required></td>
            </tr>

            <tr class="disabled-row">
                <td style="border: none; text-align: left" data-help="start_date" data-role="helper" class="has-helper">📅 {{ res_value('EXECUTION_START_DATE') }}:</td>
                <td style="border: none; text-align: left"><input class="input_d" style="font-size: 18px;" type="date" name="start_date"></td>
            </tr>

            <tr class="disabled-row">
                <td style="border: none; text-align: left">{{ res_value('EXECUTION_PHONE') }}:</td>
                <td style="border: none; text-align: left"><input class="input_s_form" style="width: 230px;" type="text" maxlength="16" name="phone"></td>
            </tr>

            <tr class="disabled-row">
                <td style="border: none; width: 230px; text-align: left">{{ res_value('EXECUTION_COURT_EXECUTOR') }}:</td>
                <td style="border: none; text-align: left"><input class="input_s_form" style="width: 75%;" type="text" name="court_executor"></td>
            </tr>
        </tbody>
    </table>

    <hr>
    <button type="submit">💾 {{ res_value('BUTTON_SAVE') }}</button>
</form>
