[Unit]
Description=COURT-2025
After=network.target

[Service]
Type=simple
User=court
Group=court
WorkingDirectory=/home/court/GFSSCourt
Environment="PATH=/home/court/GFSSCourt2025/venv/bin" "LD_LIBRARY_PATH=/home/oracle/client/21.3/lib" "ORACLE_HOME=/home/oracle/client/21.3"
ExecStart=/home/court/GFSSCourt2025/venv/bin/gunicorn

[Install]
WantedBy=multi-user.target
