{% extends 'base.html' %}

{% block title %}
    {{ res_value('ABOUT') }}
{% endblock %}

{% block main_title %}
    {{ res_value('ABOUT') }}
{% endblock %}

{% block body %}
<!--<div class="center">-->
<!--     <table class="tbl_">-->
     <table style="width:50%; margin: 16px 24px">
<!--        <caption style="caption-side: top;">Caption Участники проекта</caption>-->
        <caption style="padding-bottom: 9px; font-size: 20px; text-align: left; font-weight: bold">{{ res_value('PROJECT_PARTICIPANTS') }}</caption>
         <colgroup>
            <col style="width: 32%">
            <col style="width: 64%">
         </colgroup>
<!--        <header class="tbl header">Header Участники проекта</header>-->
         <thead>
             <tr>
                <th>{{ res_value('ROLE') }}</th>
                <th>{{ res_value('PARTICIPANTS') }}</th>
             </tr>
         </thead>
         <tfoot></tfoot>
         <tbody>
              <tr>
                  <td style="text-align: left; font-size: 18px; padding: 12px"><a>{{ res_value('REQ_4_CALC_PART') }}</a></td>
                  <td style="text-align: left; font-size: 18px; padding: 12px "><a>Аскар Уткельбаев</a></td>
              </tr>

              <tr>
                  <td style="text-align: left; font-size: 18px; padding: 12px "><a>{{ res_value('CHECKING_CALC_PART') }}</a></td>
                  <td style="text-align: left; font-size: 18px; padding: 12px "><a>Дария Матайбаева, Маханбетали Алмасов, Тлеукенова Роза</a></td>
              </tr>

              <tr>
                  <td style="text-align: left; font-size: 18px; padding: 12px "><a>{{ res_value('SOFT_REQUIREMENTS') }}</a></td>
                  <td style="text-align: left; font-size: 18px; padding: 12px "><a class="td_value">Шамиль Гусейнов</a></td>
              </tr>
              <tr>
                  <td style="text-align: left; font-size: 18px; padding: 12px "><a>{{ res_value('SOFT_DEVELOPERS') }}</a></td>
                  <td style="text-align: left; font-size: 18px; padding: 12px "><a>Шамиль Гусейнов</a></td>
              </tr>
          </tbody>
    </table><br>
<!--</div>-->
{% endblock %}
