{% extends 'base.html' %}

{% block title %}
{{ res_value('LIST_OVERPAYMENTS') }}
{% endblock %}

{% block main_title %}
<div>
    <a>{{ res_value('LIST_OVERPAYMENTS') }}</a>
</div>
<div style="text-align:end; text-shadow:none">
    <a class="btn" style="margin-left: 16px" href="/get_excel">{{ res_value('EXCEL') }}</a>
    <a class="btn" href="/add_op">{{ res_value('ADD_OVERPAYMENTS') }}</a>
</div>
{% endblock %}


{% block navigate %}
<a class="nav_button" href="/">{{ res_value('RETURN') }}</a>
{% endblock %}


{% block body %}
<div class="container" style="padding: 0px; display: flex; flex-direction: column; min-height: 100%;">
    <!-- Верхняя область: список документов -->
    <div class="table-wrapper">
        <table id="court_mainTable">
            <colgroup><col style="width: 80px;"><col><col><col style="width: 140px;"><col style="width: 140px;"><col><col><col><col><col><col></colgroup>
            <thead class="my_stick_head">
                <tr>
                    <th data-help="overpayment_id" data-role="helper" class="has-helper">{{ res_value('ORDER_NUM') }}</th>
                    <th data-help="region" data-role="helper" class="has-helper">{{ res_value('FILIAL_NAME') }}</th>
                    <th>{{ res_value('FIO_OVERPAY') }}</th>
                    <th data-help="iin" data-role="helper" class="has-helper">{{ res_value('IIN_OVERPAY') }}</th>
                    <th data-help="risk_date" data-role="helper" class="has-helper">{{ res_value('RISK_DATE') }}</th>
                    <th data-help="rfpm_id" data-role="helper" class="has-helper">{{ res_value('RFPM_ID') }}</th>
                    <th data-help="sum_civ_amount" data-role="helper" class="has-helper">{{ res_value('SUM_CIV_AMOUNT') }}</th>
                    <th>{{ res_value('COMPENSATED_AMOUNT') }}</th>
                    <th data-help="last_status" data-role="helper" class="has-helper">{{ res_value('STATUS_OVERPAY') }}</th>
                    <th data-help="court_date" data-role="helper" class="has-helper">{{ res_value('COURT_DATE') }}</th>
                    <th data-help="effective_date" data-role="helper" class="has-helper">{{ res_value('EFFECTIVE_DATE') }}</th>
                    <th data-help="last_source_solution" data-role="helper" class="has-helper">{{ res_value('LAST_SOURCE_SOLUTION') }}</th>
                    <th data-help="last_solution" data-role="helper" class="has-helper">{{ res_value('LAST_SOLUTION') }}</th>
                </tr>
            </thead>
            <tbody class="my_stick">
                <tr data-persistent id="court_filterRow">
                    <td>
                        <a style="text-decoration: none; font-size: 20px" href="/add_op">➕</a>
                    </td>
                    <td />
                    <td />
                    <td id="filter-iin-zone" style="min-width: 156px; padding: 4px 2px; text-align: left">
                        <!--<form method="GET" style="padding: 0px; margin: 0px; border:none" action="{{ url_for('filter_iin_list_op') }}">-->
                        <input class="input_s_form"
                               style="max-width: 110px; border: 1px solid #ccc; padding: 7px"
                               inputmode="numeric"
                               pattern="\d{1,12}"
                               maxlength="12"
                               type="text"
                               name="iin_filter"
                               id="iinInput"
                               placeholder="ИИН"
                               data-role="filter-iin"
                               data-url="/filter-iin-overpayments"
                               data-target="court_mainBody">
                        <button type="button"
                                data-role="filter-iin"
                                data-url="/filter-iin-overpayments"
                                data-target="court_mainBody"
                                id="filterButton"
                                style="margin-left: 3px" class="tiny-btn">
                            🔍
                        </button>
                        <!--</form>-->
                    </td>
                    <td style="padding: 4px 0px; text-align:center">
                        <div data-role="menu"
                             data-track="true"
                             data-url="/filter-period-overpayments"
                             data-target="court_mainBody"
                             id="filter-period"
                             style="min-width: 216px" class="dropdown">
                            <input type="hidden" name="menuValuePeriod" id="menuValuePeriod">
                            <button style="display: inline-block; border: 1px solid lightgray; min-width: 160px" type="button" class="dropdown-button period-button" id="menuButton">
                                <i class="fas fa-filter" style="color: green;"></i>
                                <span class="label">{{ res_value('SELECT_PERIOD') }}</span>
                                <span style="display: inline-block; margin-left: 5px;" class="caret"></span>
                            </button>
                            <div style="min-width: 180px; margin-left: 20px" class="dropdown-content">
                                <a data-value="{{res_value('PERIOD_MONTH')}}" data-label="{{res_value('PERIOD_MONTH')}}"><i class="fas fa-hourglass-start" style="color: green;"></i>{{res_value('PERIOD_MONTH')}}</a>
                                <a data-value="{{res_value('PERIOD_YEAR')}}" data-label="{{res_value('PERIOD_YEAR')}}"><i class="fas fa-hourglass-half" style="color: green;"></i>{{res_value('PERIOD_YEAR')}}</a>
                                <a data-value="{{res_value('PERIOD_ALL')}}" data-label="{{res_value('PERIOD_ALL')}}"><i class="fas fa-hourglass-end" style="color: green;"></i>{{res_value('PERIOD_ALL')}}</a>
                            </div>
                        </div>
                    </td>
                    <td />
                    <td />
                    <td data-help="refund_all" data-role="helper" class="has-helper">
                        <a style="text-decoration: none; font-size: 24px" href="/recalc_refunding">🔄</a>
                    </td>
                    <td id="filter-active-close-zone" data-help="filter_active" data-role="helper" class="has-helper">
                        <input type="hidden" id="activeState" value="{{ 'active' if session['active'] == 'closed' else 'active' }}">
                        <a href="#"
                           data-role="filter-active-close"
                           data-url="/filter-active"
                           data-target="court_mainBody"
                           data-icon-active="🟡"
                           data-icon-closed="✅"
                           style="font-size: 24px; text-decoration: none;">
                            <span id="activeIcon">
                                {{ '✅' if session['active'] == 'closed' else '🟡' }}
                            </span>
                        </a>
                    </td>

                    <td />
                    <td />
                    <td />
                    <td />
                </tr>
            </tbody>
            <!--<tbody id="court_mainBody" data-action="filterByOrder">-->
            <tbody id="court_mainBody" data-role="edit-row row-click menu-region-edit" data-action="filterByOrder">
            </tbody>
        </table>
        <div id="region-template" style="display:none;">
            {% for code, name in list_region %}
            <a data-value="{{ code }}" data-label="{{ name }}">
                <i class="fas fa-globe" style="color: green;"></i>{{ name }}
            </a>
            {% endfor %}
        </div>
    </div>
    <!-- Нижняя область: вкладки -->
    <div class="tabs" style="margin-top: auto;">

        <!-- Общее поле order_num для всех TABS -->
        <input type="hidden" name="active_tab" id="sharedTabId">
        <input type="hidden" name="order_num" id="sharedOrderNum">

        <div id="court_tabs" style="display: flex; gap: 2px; padding: 0px;" data-role="tab-switch">
            <button class="tab  active" data-tab="scammer">{{ res_value('TAB_SCAMMERS') }}</button>
            <button class="tab" data-tab="pretrial">{{ res_value('TAB_PRETRIAL') }}</button>
            <button class="tab" data-tab="law">{{ res_value('TAB_LAW') }}</button>
            <button class="tab" data-tab="crime">{{ res_value('TAB_COURT_CRIME') }}</button>
            <button class="tab" data-tab="civ">{{ res_value('TAB_COURT_CIV') }}</button>
            <button class="tab" data-tab="appeal">{{ res_value('TAB_APPEAL') }}</button>
            <button class="tab" data-tab="execution">{{ res_value('TAB_EXECUTION') }}</button>
            <button class="tab" data-tab="refunding">{{ res_value('TAB_REFUNDING') }}</button>
        </div>
        <div id="court_tabs_content" class="tab-content active">

            <div data-tab="scammer" class="tab-panel">
                {% if 'top_control' in session and session['top_control'] == 1 %}
                <button data-form="scammerForm"
                        id="scammerVisibleButton"
                        data-role="toggle-visible-form"
                        data-tab="scammer"
                        class="add-btn"
                        data-label-add="➕ {{ res_value('BUTTON_ADD') }}"
                        data-label-close="❌ {{ res_value('BUTTON_CLOSE') }}">
                    ➕ {{ res_value('BUTTON_ADD') }}
                </button>
                {% endif %}
                <button class="refresh-btn" data-role="refresh-content" data-tab="scammer" id="scammerRefreshButton">🔄 Обновить</button>
                <!--<button id="scammerRefreshButton" onclick="API.refreshTab('scammer')">🔄 Обновить</button>-->

                <div data-persistent id="scammerFormContainer"></div>
                <div data-persistent id="scammerContent"><!-- Here will be fragment _pretrial_items --></div>
                <!--<div id="scammerTimestamp" class="tab-timestamp"></div>-->
            </div>

            <div data-tab="pretrial" class="tab-panel">
                <button data-form="pretrialForm"
                        id="pretrialVisibleButton"
                        data-tab="pretrial"
                        data-role="toggle-visible-form"
                        data-type="pretrial" class="add-btn"
                        data-label-add="➕ {{ res_value('BUTTON_ADD') }}"
                        data-label-close="❌ {{ res_value('BUTTON_CLOSE') }}"
                        data-persistent>
                    ➕ {{ res_value('BUTTON_ADD') }}
                </button>
                <button id="pretrialRefreshButton" class="refresh-btn" data-tab="pretrial" data-role="refresh-content" data-persistent>🔄 Обновить</button>

                <div data-persistent id="pretrialFormContainer"></div>
                <div data-persistent id="pretrialContent" data-track="true" data-url="/pretrial_fragment"><!-- Here will be fragment _pretrial_items --></div>
                <!--<div id="pretrialTimestamp" class="tab-timestamp"></div>-->
            </div>

            <div data-tab="law" class="tab-panel">
                <button data-persistent
                        data-form="lawForm"
                        id="lawVisibleButton"
                        data-role="toggle-visible-form"
                        data-tab="law"
                        class="add-btn"
                        data-label-add="➕ {{ res_value('BUTTON_ADD') }}"
                        data-label-close="❌ {{ res_value('BUTTON_CLOSE') }}">
                    ➕ {{ res_value('BUTTON_ADD') }}
                </button>
                <button data-persistent class="refresh-btn" data-role="refresh-content" data-tab="law" id="lawRefreshButton">🔄 Обновить</button>
                <!--<button id="lawRefreshButton" onclick="API.refreshTab('law')">🔄 Обновить</button>-->

                <div data-persistent id="lawFormContainer"><!-- Here will be FORM _law_items --></div>
                <div data-persistent id="lawContent"><!-- Here will be fragment _law_items --></div>
                <!--<div id="lawTimestamp" class="tab-timestamp"></div>-->
            </div>

            <div data-tab="crime" class="tab-panel">
                <button data-persistent
                        data-form="crimeForm"
                        id="crimeVisibleButton"
                        data-role="toggle-visible-form"
                        data-tab="crime"
                        class="add-btn"
                        data-label-add="➕ {{ res_value('BUTTON_ADD') }}"
                        data-label-close="❌ {{ res_value('BUTTON_CLOSE') }}">
                    ➕ {{ res_value('BUTTON_ADD') }}
                </button>
                <!--                <button id="courtRefreshButton" onclick="API.refreshTab('court_crime')">🔄 Обновить</button>-->
                <button data-persistent id="crimeRefreshButton" data-tab="crime" class="refresh-btn" data-role="refresh-content">🔄 Обновить</button>

                <div data-persistent id="crimeFormContainer"><!-- Here will be FORM _court_items --></div>
                <div data-persistent id="crimeContent"><!-- Here will be fragment _court_items --></div>
                <!--<div id="court_crimeTimestamp" class="tab-timestamp"></div>-->
            </div>

            <div data-tab="civ" class="tab-panel">
                <button data-persistent
                        data-form="civForm"
                        id="civVisibleButton"
                        data-role="toggle-visible-form"
                        data-tab="civ" class="add-btn"
                        data-label-add="➕ {{ res_value('BUTTON_ADD') }}"
                        data-label-close="❌ {{ res_value('BUTTON_CLOSE') }}">
                    ➕ {{ res_value('BUTTON_ADD') }}
                </button>
                <!--                <button id="court_civRefreshButton" onclick="API.refreshTab('court_civ')">🔄 Обновить</button>-->
                <button data-persistent class="refresh-btn" id="civRefreshButton" data-tab="civ" data-role="refresh-content">🔄 Обновить</button>


                <div data-persistent id="civFormContainer"><!-- Here will be FORM _court_items --></div>
                <div data-persistent id="civContent"><!-- Here will be fragment _court_items --></div>
                <!--<div id="court_civTimestamp" class="tab-timestamp"></div>-->
            </div>

            <div data-tab="appeal" class="tab-panel">
                <button data-persistent
                        data-form="appealForm"
                        id="appealVisibleButton"
                        data-role="toggle-visible-form"
                        data-tab="appeal" class="add-btn"
                        data-label-add="➕ {{ res_value('BUTTON_ADD') }}"
                        data-label-close="❌ {{ res_value('BUTTON_CLOSE') }}">
                    ➕ {{ res_value('BUTTON_ADD') }}
                </button>
                <!--<button id="appealRefreshButton" onclick="API.refreshTab('appeal')">🔄 Обновить</button>-->
                <button data-persistent class="refresh-btn" data-tab="appeal" data-role="refresh-content" id="appealRefreshButton">🔄 Обновить</button>

                <div data-persistent id="appealFormContainer"><!-- Here will be FORM _appeal_items --></div>
                <div data-persistent id="appealContent" data-track="true" data-url="/appeal_fragment"><!-- Here will be fragment _appeal_items --></div>
                <!--<div id="appealTimestamp" class="tab-timestamp"></div>-->
            </div>

            <div data-tab="execution" class="tab-panel">
                <button data-persistent
                        data-form="executionForm"
                        id="executionVisibleButton"
                        data-role="toggle-visible-form"
                        data-tab="execution"
                        class="add-btn"
                        data-label-add="➕ {{ res_value('BUTTON_ADD') }}"
                        data-label-close="❌ {{ res_value('BUTTON_CLOSE') }}">
                    ➕ {{ res_value('BUTTON_ADD') }}
                </button>
                <!--                <button id="executionRefreshButton" onclick="API.refreshTab('execution')">🔄 Обновить</button>-->
                <button data-persistent class="refresh-btn" data-tab="execution" data-role="refresh-content" id="executionRefreshButton">🔄 Обновить</button>

                <div data-persistent id="executionFormContainer"><!-- Here will be FORM _execution_items --></div>
                <div data-persistent id="executionContent"><!-- Here will be fragment _execution_items --></div>
                <!--<div id="executionTimestamp" class="tab-timestamp"></div>-->
            </div>

            <div data-tab="refunding" class="tab-panel">
                <!--<button data-form="refundingForm" data-type="refunding" class="add-btn">➕ {{ res_value('BUTTON_ADD') }}</button>-->
                <button data-persistent id="refundingRefreshButton" class="refresh-btn" data-tab="refunding" data-role="refresh-content">🔄 Обновить</button>

                <!--<div id="refundingFormContainer">--><!-- Here will be FORM _execution_items --><!--</div>-->
                <div data-persistent id="refundingContent" data-track="true" data-url="/refunding_fragment"><!-- Here will be fragment _execution_items --></div>
                <!--<div id="refundingTimestamp" class="tab-timestamp"></div>-->
            </div>


        </div>
    </div>
</div>
<!--<script type="module" src="static/js/list_op.js"></script>-->
<script type="module" id="pageScript" data-page="court" src="static/js/main.js"></script>
{% endblock %}
